@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit', 'serif';
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #0002;
  border-radius: 10px;
}